{% macro csrf_input() %}
    <input type="hidden" value="{{ _csrf_code }}" name="_csrf_code"/>
{% endmacro %}
{% macro form_input(label,property,value,error_msg) %}
    <div class="form-group {{ ' has-error' if error_msg }}">
        <label for="{{ property }}Input"
               class="control-label">{{ label }} </label>
        <input id="{{ property }}Input" type="text" class="form-control" name="{{ property }}"
               value="{{ value }}"/>
        {% if error_msg %}<span class="help-block">{{ error_msg }}</span>{% endif %}
    </div>
{% endmacro %}
<html lang="en" ng-app="StarterApp">
<head>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/angular-material.min.css">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/materialize/css/materialize.min.css">
    {% block css %}{% endblock %}
    <meta name="viewport" content="initial-scale=1"/>
    <title>{% block title %}Ban This Cheater{% endblock %}</title>
</head>
<body layout="column" ng-controller="AppCtrl">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button md-default-theme waves-effect" aria-label="Menu" ng-click="toggleSidenav('left')" hide-gt-sm>
            <md-icon md-svg-icon="menu" class="icon26"></md-icon>
        </md-button>
        <md-button ng-href="/" class="md-default-theme waves-effect">
            <span>Ban This <span style="color: darkorange;"> Cheater <i class="mdi-content-report icon26"></i> </span></span>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button md-default-theme waves-effect" aria-label="search">
            <md-icon md-svg-icon="search" class="icon26"></md-icon>
            <md-tooltip>
                Pesquisar
            </md-tooltip>
        </md-button>

        {% if not _logged_user %}
            <md-button ng-href="{{ _login_path }}" class=" md-default-theme waves-effect" aria-label="search">
                Entrar
            </md-button>
        {% else %}
            {{ _logged_user.name }}
        {% endif %}
        <a id="button-menu-more" layout-align="center center" class="md-button md-body-1 md-icon-button md-default-theme waves-effect dropdown-button" aria-label="More" data-activates='dropdown-more'>
            <md-icon md-svg-icon="more" class="icon26"></md-icon>
            <md-tooltip>
                Mais
            </md-tooltip>

        </a>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <ul class="collapsible sidenav" data-collapsible="accordion">
            <a href="/">
                <li>
                    <div class="collapsible-header waves-effect"><i class="mdi-action-home"></i>Home</div>
                </li>
            </a>
            {% if _logged_user %}
                <li style="color: orangered">
                    <md-divider></md-divider>
                    <div class="collapsible-header waves-effect waves-orange"><i class="mdi-action-account-circle"></i>Administrador
                    </div>
                    <div class="collapsible-body">
                        <ul class="collapsible sidenav">
                            <a href="/admin">
                                <li>
                                    <div class="collapsible-header waves-effect">Home</div>
                                </li>
                            </a>
                            <li>
                                <div class="collapsible-header waves-effect">Dashboard</div>
                            </li>
                            <li>
                                <div class="collapsible-header waves-effect">Usuários</div>
                            </li>
                            <li>
                                <div class="collapsible-header waves-effect">Reports</div>
                            </li>
                            <a href="/admin/games-management">
                                <li>
                                    <div class="collapsible-header waves-effect">Games</div>
                                </li>
                            </a>
                        </ul>
                    </div>
                </li>
            {% endif %}
            <li>
                <md-divider></md-divider>
                <div class="collapsible-header waves-effect"><i class="mdi-hardware-gamepad"></i>Games</div>
                <div class="collapsible-body">
                    <ul class="collapsible sidenav">
                        <li>
                            <div class="collapsible-header waves-effect">Counter-Strike 1.6</div>
                        </li>
                        <li>
                            <div class="collapsible-header waves-effect">Counter-Strike Source</div>
                        </li>
                        <li>
                            <div class="collapsible-header waves-effect">Counter-Strike GO</div>
                        </li>
                        <li>
                            <div class="collapsible-header waves-effect">League of Legends</div>
                        </li>
                        <li>
                            <div class="collapsible-header waves-effect">Outros</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <md-divider></md-divider>
                <div class="collapsible-header waves-effect"><i class="mdi-social-person"></i>Players</div>
                <div class="collapsible-body">
                    <ul class="collapsible sidenav">
                        <li>
                            <div class="collapsible-header waves-effect">Ver Jogadores Reportados</div>
                        </li>
                        <li>
                            <div class="collapsible-header waves-effect">Reportar Jogador</div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <md-divider></md-divider>
                <div class="collapsible-header waves-effect"><i class="mdi-communication-message"></i>Sobre Nós</div>
            </li>
        </ul>
    </md-sidenav>
    <div layout="column" flex id="content">
        {% block body %}{% endblock %}
    </div>
</div>

<!-- Dropdown Structure -->
<div id='dropdown-more' class="dropdown-content" style="width: 400px; height: 300px;">
    <div>
        <md-grid-list md-cols="6" md-row-height="1:1">
            {% if _logged_user %}
                <md-grid-tile md-colspan="2" md-rowspan="2" class="blue">
                    <md-icon md-svg-icon="person" class="icon48"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Minha conta</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
                <md-grid-tile md-colspan="4" md-rowspan="2" class="red">
                    <div layout="column" layout-padding flex>
                        <span>{{ _logged_user.name }}</span>
                        <span>{{ _logged_user.email }}</span>
                        {% if _logged_user and 'ADMIN' in _logged_user.groups %}<span>Administrador</span>{% else %}
                            <span>Usuário Comum</span>{% endif %}
                    </div>
                </md-grid-tile>
                <a href="/account">
                    <md-grid-tile md-colspan="2" md-rowspan="2" class="green">
                        <md-icon md-svg-icon="settings" class="icon48"></md-icon>
                        <md-grid-tile-footer>
                            <h3>Configurações</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </a>
                <a onclick="logout()">
                    <md-grid-tile md-colspan="2" md-rowspan="2" class="grey" layout-align="center center">

                        <md-icon md-svg-icon="logout" class="icon48"></md-icon>
                        <md-grid-tile-footer>
                            <h3>Sair</h3>
                        </md-grid-tile-footer>

                    </md-grid-tile>
                </a>
                <md-grid-tile md-colspan="2" md-rowspan="2" class="yellow">
                    <md-icon md-svg-icon="reports" class="icon48"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Meus Reports</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            {% else %}
                <md-grid-tile md-colspan="6" md-rowspan="4" class="grey">
                    <md-icon md-svg-icon="person-guest" class="icon48"></md-icon>
                    <md-grid-tile-footer>
                        <h3>Para ter acesso a essa item é necessário o Login</h3>
                    </md-grid-tile-footer>
                </md-grid-tile>
            {% endif %}
        </md-grid-list>
    </div>
</div>

<form id="form-logout" name="form-logout" action="{{ _logout_path }}" method="post">
    {{ csrf_input() }}
</form>

<script src="/static/jquery/js/jquery-1.11.1.min.js"></script>
<script src="/static/materialize/js/materialize.min.js"></script>
<!-- Angular Material Dependencies -->
<script src="/static/angular/js/angular.min.js"></script>
<script src="/static/angular/js/angular-animate.min.js"></script>
<script src="/static/angular/js/angular-aria.min.js"></script>
<script src="/static/angular/js/angular-material.min.js"></script>

<script src="/static/js/default.js"></script>
{% block js %}{% endblock %}
</body>
</html>