<md-dialog layout-padding style="overflow: auto" flex ng-controller="formController" ng-init="init({{ id }});">
    <div class="dialog-overlay" layout="row" layout-align="center center">
        <md-progress-circular class="md-warn" md-mode="indeterminate"></md-progress-circular>
    </div>

    <div class="dialog-overlay-success" layout="column" layout-align="center center">
        <i class="large mdi-action-done"></i>

        <h1>Jogo Salvo!</h1>
    </div>

    <md-dialog-content layout layout-padding>
        <div class="card-panel grey lighten-3" style="overflow: auto; width: 100%">
            <h3 class="md-subhead center-align">Formulário de {{ "Editar o Jogo : "+id | safe if edit else "Novo Jogo" }}</h3>

            <form ng-submit="processForm($event, '{{ "edit" | safe if edit else "save" }}')" class="col s12">
                <input type="hidden" value="{{ _csrf_code }}" name="_csrf_code" ng-model="formData._csrf_code"/>
                <input id="input_id" type="hidden" name="id" ng-model="formData.id">

                <div class="row">
                    <div class="input-field col s6">
                        <label for="input_name">Nome do Jogo *</label>
                        <input id="input_name" type="text" class="validate {{ "invalid" | safe if errors and errors.name }}" name="name" ng-model="formData.name">

                        <div id="input-name-error" class="input-error md-caption"></div>
                    </div>
                    <div class="input-field col s6">
                        <input id="input_nickname" type="text" class="validate {{ "invalid" | safe if errors and errors.nickname }}" name="nickname" ng-model="formData.nickname">
                        <label for="input_nickname">Nome de Exibição *</label>

                        <div id="input-nickname-error" class="input-error md-caption"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="input_game_page" type="text" class="validate" name="game_page" ng-model="formData.game_page">
                        <label for="input_game_page">Página do Jogo</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="input_game_community" type="text" class="validate" name="game_community" ng-model="formData.game_community">
                        <label for="input_game_community">Comunidade</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="input_steam_link" type="text" class="validate" name="steam_link" ng-model="formData.steam_link">
                        <label for="input_steam_link">Link Steam</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="textarea_notes" name="notes" class="materialize-textarea validate" ng-model="formData.notes"></textarea>
                        <label for="textarea_notes">Notas</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <span>Autor : {{ autor.name | safe if autor }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <label>
                                Desativado
                                <input type="checkbox" name="active" ng-model="formData.active" {{ "checked" | safe if properties and properties.active }}>
                                <span class="lever"></span>
                                Ativado
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <div layout="row" layout-padding>
                            <span flex></span>
                            <input type="submit" value="Enviar" class="md-button md-raised green" style="margin-right: 10px"/>
                            <md-button ng-click="cancel()" type="reset" class="md-raised md-warn">
                                Cancelar
                            </md-button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </md-dialog-content>
</md-dialog>
