{% extends 'admin/base.html' %}
{% block body %}
    <md-toolbar class="md-medium-tall md-hue-1" style="z-index: 1;">
        <h2 class="md-toolbar-tools">
            <span>Gerenciar Games</span>
        </h2>
    </md-toolbar>
    <md-content flex layout-align="center center" layout-padding style="z-index: 2; margin-top: -40px" ng-controller="tableController" ng-init="init();">
        <div class="card-panel grey lighten-3" style="margin-top: 0px; overflow: auto; position: relative;">
            <table class="hoverable">
                <thead>
                <tr>
                    <th>Ação</th>
                    <th data-field="id">ID</th>
                    <th data-field="id">Nome</th>
                    <th data-field="id">Nickname</th>
                    <th data-field="name">Página do Jogo</th>
                    <th data-field="price">Ativo</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="game in game_list.game_list">
                    <td>
                        <div layout="row">
                            <md-button class="md-icon-button" aria-label="Editar Objeto" ng-click="showEdit($event, game.id)" {#ng-href="/admin/games-management-form/{[{game.id}]}"#}>
                                <md-icon md-svg-icon="edit"></md-icon>
                                <md-tooltip>
                                    Editar
                                </md-tooltip>
                            </md-button>
                            <form id="form-{[{game.id}]}" ng-submit="delete($event , game.id)">
                                {{ csrf_input() }}
                                <input type="hidden" name="id" ng-value="game.id"/>
                                <md-button type="submit" class="md-icon-button" name="submit" value="delete" aria-label="Excluir Objeto">
                                    <md-icon md-svg-icon="delete"></md-icon>
                                    <md-tooltip>
                                        Excluir
                                    </md-tooltip>
                                </md-button>
                            </form>
                        </div>
                    </td>
                    <td>{[{ game.id }]}</td>
                    <td><span class="truncate">{[{ game.name }]}</span></td>
                    <td><span class="truncate">{[{ game.nickname }]}</span></td>
                    <td><a href="{[{ game.game_page }]}" target="_blank">
                        <span class="truncate">{[{ game.game_page }]}</span></a></td>
                    <td>
                        <div class="switch">
                            <label>
                                <input type="checkbox" disabled ng-if="game.active" name="active" checked>
                                <input type="checkbox" disabled ng-if="!game.active" name="active">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </md-content>
    <div class="fixed-action-btn" style="bottom: 20px; right: 24px;">
        <a class="btn-floating btn-large red">
            <i class="large mdi-navigation-menu"></i>
            <md-tooltip md-direction="left">
                Opções
            </md-tooltip>
        </a>
        <ul>
            <li>
                <a class="btn-floating red" ng-click="showAdd($event)"
                        {#ng-href="/admin/games-management-form"#}><i class="large mdi-social-plus-one"></i></a>
                <md-tooltip md-direction="left">
                    Adicionar Item
                </md-tooltip>
            </li>
            {#            <li><a class="btn-floating blue"><i class="large mdi-notification-sync"></i></a>
                <md-tooltip md-direction="left">
                    Atualizar Página
                </md-tooltip>
            </li>#}

        </ul>
    </div>
{% endblock %}